#pragma once

#include <esp_wifi.h>

#define WIFI_SSID "<>"
#define WIFI_PASS "<>"
#define WIFI_AUTH_MODE WIFI_AUTH_WPA2_WPA3_PSK
#define WIFI_PMF_REQUIRED false
#define NTP_SERVER "<>"
#define TIMEZONE "GMT"